name: Test

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  chat:
    name: Checks
    timeout-minutes: 15
    runs-on: [macos-latest]
    steps:
      - uses: actions/checkout@v2

      - run: bundle install --jobs 4 --retry 3

      - run: bundle exec fasterer

      - name: Test Pods
        run: bundle exec fastlane test_on_fail

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: "Vulnerable report"
          path: "dependency-check/CocoaPods/report/"

      - name: Test SPM and Pods
        run: bundle exec fastlane test

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: "Pods report"
          path: "dependency-check/CocoaPods/report/"

      - uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: "SPM report"
          path: "dependency-check/SwiftPackages/report/"
